/** HEADER **/
.header__logo {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 10% 80% 10%; }
    .header__logo .logotipo img {
      height: 250px; }
    .header__logo .social-head {
      grid-column: 3/4; }
    .header__logo .logotipo {
      grid-column: 2/3; }
    .header__logo .carrito {
      grid-row: 1;
      grid-column: 1/2; }
  
  .header-nav {
    margin: 2rem auto;
    text-transform: uppercase;
    font-family: "Amatic SC", cursive;
    font-size: 2.5rem; }
    .header-nav a {
      text-decoration: none;
      color: #000000;
      margin: 1rem;
      font-weight: 600; }
    .header-nav a:hover {
      text-decoration: underline;
      text-decoration-color: #6f4c2c; }
  
  .navbar-nav {
    margin: 1rem auto;
    text-transform: uppercase;
    font-family: "Amatic SC", cursive;
    font-size: 2.5rem;
    line-height: 3.5rem; }
    .navbar-nav a {
      text-decoration: none;
      margin: 0rem 1rem;
      font-weight: 600; 
      line-height: 3.5rem;}

    .mr-auto.text-center.navbar-nav a{
      color: #242424;
    }
    .navbar-nav a:hover {
      text-decoration: underline;
      text-decoration-color: #6f4c2c; }

    button.navbar-toggler{
      outline: none;
    }
    .dropdown-item{
      padding: 0rem;
    }
    a.dropdown-item {
      font-size: 1.7rem;
      margin: 0rem;
      text-align: center;
  }
  .dropdown-toggle::after{
    display: none;
  }
  .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0rem;
  }
  .dropdown-item:hover{
    background-color: transparent;
  }
  .dropdown-menu{
    border: none;
    background-color: #cacaca;
    padding: 0rem;
  }
  
/** TIENDA **/
.header__logo .carrito {
  grid-row: 1/2;
  display: flex;
  justify-content: center; }
  
  .custom-control, .custom-switch{
    padding: 0rem;
    width: 80%;
    margin: 0 auto;
  }

//Carrito
#carrito {
  height: 45px;
  }
.cartLogo{
  position: relative;
  justify-self: right;
}
.cuentaCuadros{
  margin: 1rem 0rem 0rem -1rem;
}
//Navbar
